.Rproj.user
.Rhistory
.RData
.Ruserdata
wclim_data/
sdm_output/angPankaj_maxent.Rdata
sdm_output/ang_maxent.Rdata
svk_collection_map.R
sdm_output/maps/resolve_eco/resolve_ecoregions.gpkg
maps/resolve_eco/resolve_ecoregions.gpkg
maps/resolve_eco/resolve_ecoregions.gpkg
sdm_output/sdm_output_dec_10_2025/
sdm_output/sdm_output_dec_10_2025/
maps/wdpa_prot_area/

# old SDM snapshot (Dec 2025)
sdm_output/sdm_output_dec_10_2025/

# SDM outputs (generated)
sdm_output/

# Connectivity inputs
connectivity_inputs/resistance_classes.tifconnectivity_inputs/resistance_classes_rast.tif
connectivity_inputs/resistance_classes_rast.tif
